<h2>Tag Id: <%= @tag.id %></h2>

<div><a href="/tags/<%= @tag.id %>">Tag Id: <%= @tag.id %></a>, Name: <%= @tag.name %> </div>

<form method="get" action="/tags/<%= @tag.id %>/edit">
  <input class="input-submit" type='submit' value="Edit Tag"/>
</form>

<form method="post" action="/tags/<%= @tag.id %>/delete">
  <input class="input-submit" type='submit' value="Delete Tag"/>
</form>
