<h2>Tag Id: <%= @tag.id %></h2>

<div class="merchants-table">

  <div class="table-head">Tag Id</div>
  <div class="table-head">Name</div>

  <div class="table-box"><a href="/tags/<%= @tag.id %>"><%= @tag.id %></a></div>
  <div class="table-box"><%= @tag.name %></div>

  <div class="table-box">
    <form method="get" action="/tags/<%= @tag.id %>/edit">
      <input class="input-submit" type='submit' value="Edit Tag"/>
    </form>
  </div>
  <div class="table-box">
    <form method="post" action="/tags/<%= @tag.id %>/delete">
      <input class="input-submit" type='submit' value="Delete Tag"/>
    </form>
  </div>


</div>
