<h2>Edit Transaction <%= @transaction.id %></h2>

<form method="post" action="/transactions/<%= @transaction.id %>">

<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"><label for="date_time">Date-time:</label></div>
  <div class="table-box"><input id="date_time" class="input-date-time" type="datetime-local" name="date_time" value=<%= @transaction.date_time %> /></div>

  <div class="table-head"><label for="amount">Amount:</label></div>
  <div class="table-box"><input id="amount" class="input-text" type="text" name="amount" value=<%= Transaction.money_amount(@transaction.amount) %> /></div>

  <div class="table-head"><label for="description">Description:</label></div>
  <div class="table-box"><input id="description" class="input-text" type="text" name="description" value=<%= @transaction.description %> /></div>

  <div class="table-head"><label for="merchant_id">Select a merchant:</label></div>
  <div class="table-box">
    <select id="merchant_id" name="merchant_id">
      <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
      <option selected="selected" value="<%= @transaction.merchant.id %>" > <%= @transaction.merchant.name %></option>
    </select>
  </div>

  <div class="table-head"><label for="tag_id">Select a tag:</label></div>
  <div class="table-box">
    <select id="tag_id" name="tag_id">
      <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
      <option selected="selected" value="<%= @transaction.tag.id %>" ><%= @transaction.tag.name %></option>
    </select>
  </div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"></div>
  <div class="table-box"><input class="input-submit" type='submit' value="Edit Transaction"/></div>

</div>

</form>
