<h2>Transactions</h2>

<% @transactions.each do |transaction| %>
  <div><a href="/transactions/<%= transaction.id %>">Transaction Id: <%= transaction.id %></a>, Date-time: <%= transaction.date_time %>, Amount: <%= transaction.amount %>, Description: <%= transaction.description %>, Merchant: <%= transaction.merchant.name %>, Tag: <%= transaction.tag.name %> </div>
<% end %>

<h2>Transaction Total: <%= @total %></h2>
