<h2>Transactions</h2>

<% @transactions.each do |transaction| %>
<div><a href="/transactions/<%= transaction.id %>">Transaction Id: <%= transaction.id %></a>, Amount: <%= transaction.amount %>, Merchant: <%= transaction.merchant_id %>, Tag: <%= transaction.tag_id %> </div>
<% end %>

<h2>Transaction Total: <%= @total %></h2>
