<h2>New Transaction</h2>

<form method="post" action="/transactions">

<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"><label for="date_time">Date-time:</label></div>
  <div class="table-box"><input id="date_time" class="input-date-time" type="datetime-local" name="date_time" value="<%= DateTime.now.to_s[0,16] %>" /></div>

  <div class="table-head"><label for="amount">Amount:</label></div>
  <div class="table-box"><input id="amount" class="input-text" type="text" name="amount" value="0.00" /></div>

  <div class="table-head"><label for="description">Description:</label></div>
  <div class="table-box"><input id="description" class="input-text" type="text" name="description" /></div>

  <div class="table-head"><label>Select a merchant:</label></div>
  <div class="table-box">
    <div class="hidden-radio-dropdown">
      <% first_item = true %>
      <% for merchant in @merchants %>
        <% if first_item == true %>
          <input type="radio" id="merchant<%= merchant.id %>" value="<%= merchant.id %>" class="hidden-radio-button" name="merchant_id" checked="checked">
          <% first_item = false %>
        <% else %>
          <input type="radio" id="merchant<%= merchant.id %>" value="<%= merchant.id %>" class="hidden-radio-button" name="merchant_id">
        <% end %>
        <label for="merchant<%= merchant.id %>" class="hidden-radio-label"><div class="hidden-radio-div"><%= merchant.name %></div></label>
      <% end %>
    </div>
  </div>

  <div class="table-head"><label>Select a tag:</label></div>
  <div class="table-box">
    <div class="hidden-radio-dropdown">
      <% first_item = true %>
      <% for tag in @tags %>
        <% if first_item == true %>
          <input type="radio" id="tag<%= tag.id %>" value="<%= tag.id %>" class="hidden-radio-button" name="tag_id" checked="checked">
          <% first_item = false %>
        <% else %>
          <input type="radio" id="tag<%= tag.id %>" value="<%= tag.id %>" class="hidden-radio-button" name="tag_id">
        <% end %>
        <label for="tag<%= tag.id %>" class="hidden-radio-label"><div class="hidden-radio-div"><%= tag.name %></div></label>
      <% end %>
    </div>
  </div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"></div>
  <div class="table-box"><input class="input-submit" type="submit" value="Enter Transaction"/></div>

</div>

</form>
