<h2>New Transaction</h2>

<form method="post" action="/transactions">

  <label for="amount">Amount:</label>
  <input id="amount" class="input-text" type="text" name="amount" />

  <label for="description">Description:</label>
  <input id="description" class="input-text" type="text" name="description" />

  <label>Select a merchant:</label>
  <div class="hidden-radio-dropdown">
    <% first_item = true %>
    <% for merchant in @merchants %>
      <% if first_item == true %>
        <input type="radio" id="merchant<%= merchant.id %>" value="<%= merchant.id %>" class="hidden-radio-button" name="merchant_id" checked="checked">
        <% first_item = false %>
      <% else %>
        <input type="radio" id="merchant<%= merchant.id %>" value="<%= merchant.id %>" class="hidden-radio-button" name="merchant_id">
      <% end %>
      <label for="merchant<%= merchant.id %>" class="hidden-radio-label"><div class="hidden-radio-div"><%= merchant.name %></div></label>
    <% end %>
  </div>

  <label>Select a tag:</label>
  <div class="hidden-radio-dropdown">
    <% first_item = true %>
    <% for tag in @tags %>
      <% if first_item == true %>
        <input type="radio" id="tag<%= tag.id %>" value="<%= tag.id %>" class="hidden-radio-button" name="tag_id" checked="checked">
        <% first_item = false %>
      <% else %>
        <input type="radio" id="tag<%= tag.id %>" value="<%= tag.id %>" class="hidden-radio-button" name="tag_id">
      <% end %>
      <label for="tag<%= tag.id %>" class="hidden-radio-label"><div class="hidden-radio-div"><%= tag.name %></div></label>
    <% end %>
  </div>

  <input class="input-submit" type="submit" value="Enter Transaction"/>

</form>
