<h2>Transaction Id: <%= @transaction.id %></h2>

<div><a href="/transactions/<%= @transaction.id %>">Transaction Id: <%= @transaction.id %></a>, Amount: <%= @transaction.amount %>, Merchant: <%= @transaction.merchant_id %>, Tag: <%= @transaction.tag_id %> </div>

<form method="post" action="/transactions/<%= @transaction.id %>/delete">
  <input type='submit' value="Delete Transaction"/>
</form>

<form method="get" action="/transactions/<%= @transaction.id %>/edit">
  <input type='submit' value="Edit Transaction"/>
</form>
