<h2>Monthly Budget</h2>

<div class="spacer"></div>

<div class="three-col-table">

  <div class="table-head ca">Id / Edit</div>
  <div class="table-head ra">Budget</div>
  <div class="table-head ra">Warning</div>

  <div class="table-box"></div>
  <div class="table-box"></div>
  <div class="table-box"></div>

<% @budgets.each do |budget| %>

  <div class="table-box ca"><a class="remove-link" href="/budgets/<%= budget.id %>/edit"><div class="edit"><%= budget.id %></div></a></div>
  <div class="table-box ra"><%= Budget.money_amount(budget.amount) %></div>
  <div class="table-box ra"><%= Budget.money_amount(budget.warning) %></div>

<% end %>

</div>

<div class="spacer"></div>
<div class="spacer"></div>

<h2>Monthly Analysis</h2>

<div class="spacer"></div>

<div class="six-col-table">

  <div class="table-head la">Year-Month</div>
  <div class="table-head ra">Total</div>
  <div class="table-head ra">Budget</div>
  <div class="table-head ra">Vs. Budget</div>
  <div class="table-head la">Chart</div>
  <div class="table-head la"></div>

  <div class="table-box"></div>
  <div class="table-box"></div>
  <div class="table-box"></div>
  <div class="table-box"></div>
  <div class="table-box"></div>
  <div class="table-box"></div>

<% (0...@analysis[0].length).each do |month| %>

  <div class="table-box ca"><%= @analysis[0][month] %></div>
  <div class="table-box ra"><%= @analysis[1][month] %></div>
  <div class="table-box ra"><%= @analysis[2][month] %></div>
  <div class="table-box ra"><%= @analysis[3][month] %></div>
  <div class="table-box la"><span class="green-span"><%= @analysis[4][month] %></span><span class="orange-span"><%= @analysis[5][month] %></span><span class="red-span"><%= @analysis[6][month] %></span></div>
  <% if @analysis[6][month] != "" %>
    <div class="table-box"><span class="red-span">OVER BUDGET</span></div>
  <% elsif @analysis[5][month] != "" %>
    <div class="table-box"><span class="orange-span">OVER WARNING</span></div>
  <% else %>
    <div class="table-box"></div>
  <% end %>

<% end %>

</div>

<div class="spacer"></div>
