<h2>Budgets</h2>

<div class="merchants-table">

  <div class="table-head">Budget Id</div>
  <div class="table-head">Amount</div>

<% @budgets.each do |budget| %>

  <div class="table-box"><a href="/budgets/<%= budget.id %>"><%= budget.id %></a></div>
  <div class="table-box"><%= Budget.money_amount(budget.amount) %></div>

<% end %>

<div class="table-box"></div>
<div class="table-box"></div>

<div class="table-head">Transaction Total:</div>
<div class="table-head"><%= Budget.money_amount(@total) %></div>

<div class="table-head">Budget</div>
<div class="table-head"><%= Budget.money_amount(@budgets[0].amount) %></div>

<div class="table-head">Capacity</div>
<div class="table-head"><%=  @budgets[0].capacity %></div>

</div>
