<h2>Budgets</h2>

<div class="three-col-table">

  <div class="table-head">Budget Id</div>
  <div class="table-head">Amount</div>
  <div class="table-head">Warning</div>

<% @budgets.each do |budget| %>

  <div class="table-box"><a href="/budgets/<%= budget.id %>"><%= budget.id %></a></div>
  <div class="table-box"><%= Budget.money_amount(budget.amount) %></div>
  <div class="table-box"><%= Budget.money_amount(budget.warning) %></div>

<% end %>

<div class="table-box"></div>
<div class="table-box"></div>
<div class="table-box"></div>

<div class="table-head">Budget</div>
<div class="table-head"><%= Budget.money_amount(@budgets[0].amount) %></div>
<div class="table-box"></div>

<div class="table-head">Transaction Total</div>
<div class="table-head"><%= Budget.money_amount(@total) %></div>
<div class="table-box"></div>

<div class="table-head">Capacity</div>
<div class="table-head"><%=  @budgets[0].capacity %></div>
<div class="table-box"></div>

<% if @total.to_f > @budgets[0].warning.to_f %>

  <div class="table-warning">Limit</div>
  <div class="table-warning"><%= Budget.money_amount(@budgets[0].warning) %></div>
  <div class="table-box"></div>

  <div class="table-warning">WARNING</div>
  <div class="table-warning">ABOVE</div>
  <div class="table-box"></div>

<% else %>

  <div class="table-head">Limit</div>
  <div class="table-head"><%= Budget.money_amount(@budgets[0].warning) %></div>
  <div class="table-box"></div>

<% end %>

</div>
