<h2>Budget Id: <%= @budget.id %></h2>

<div class="merchants-table">

  <div class="table-head">Budget Id</div>
  <div class="table-head">Amount</div>

  <div class="table-box"><a href="/budgets/<%= @budget.id %>"><%= @budget.id %></a></div>
  <div class="table-box"><%= Budget.money_amount(@budget.amount) %></div>

  <div class="table-box">
    <form method="get" action="/budgets/<%= @budget.id %>/edit">
      <input class="input-submit" type='submit' value="Edit Budget"/>
    </form>
  </div>
  <div class="table-box">
    <form method="post" action="/budgets/<%= @budget.id %>/delete">
      <input class="input-submit" type='submit' value="Delete Budget"/>
    </form>
  </div>

</div>
